@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));


:root {

  /* FastBuy Brand Colors */

  --brand-orange: #FF6A00;
  --brand-orange-hover: #FF3D00;
  --brand-orange-light: #FF8A00;


  --brand-navy: #071A33;
  --brand-navy-light: #0B1F3A;



  /* Background */

  --background: #FFFFFF;
  --surface: #F8FAFC;
  --card: #F1F5F9;



  /* Typography */

  --text-primary: #111827;
  --text-secondary: #64748B;



  /* Status */

  --success: #16A34A;

}



[data-theme="dark"] {

  --background: #020617;
  --surface: #0F172A;
  --card: #111827;

  --text-primary: #F8FAFC;
  --text-secondary: #94A3B8;

}




@theme {

  --color-brand: var(--brand-orange);
  --color-brand-hover: var(--brand-orange-hover);
  --color-brand-light: var(--brand-orange-light);

  --color-navy: var(--brand-navy);
  --color-navy-light: var(--brand-navy-light);

  --color-surface: var(--surface);
  --color-background: var(--background);
  --color-card: var(--card);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-success: var(--success);

}